
.idea {
    background: url(../img/dopehero2.avif) no-repeat;
    background-size: 100%;
    width: 100%;
     height: 100%; 
     padding-top: 300px;
    padding-bottom: 200px;
   color: $white;
   text-align: center;
   h1{
    font-size: 4em;
   }
   p{
    font-size: 2em;
    font-weight: 700;
   }
}
.rewind {
    
    width: 840px;
    div {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 18px;
    }
}
@media (max-width: 930px) {
    .idea {
        padding: 100px 0;
    }
}
@media (max-width: 860px) {
    .rewind {
        width: 97%;
    }
}
@media (max-width: 645px) {
   .idea {
        padding: 30px 0;
        h1{
            font-size: 3em;
        }
        p{
            font-size: 1.5em;
        }
    }
}
@media (max-width: 435px) {
   .idea {
        padding: 10px 0;
        h1{
            font-size: 2.5em;
        }
    }
}