.categories {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
    justify-content: space-between;
    &-side{

    }
    .side__title{
        font-size: 20px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .categ-item {
         margin-bottom: 20px;
         transition: all 0.5s ease;
        a{
            font-size: 18px;
            line-height: 19px;
            &:hover{
                font-weight: 700;
            }
        }
    }
}
.category{
    position: relative;
    a {
        color: $text;
    }
    &__item img{
        width: 274px;
        height: 450px;
            object-fit: cover;
    }
    .product-name{
        background: rgba($main, 0.75);
        height: 40px;
        color: $white;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: $white;
            font-size: 20px;
            line-height: 23px;
        }
    }
}

.product {
    font-size: 16px;
    line-height: 18px;
    a {
        color: $text;       
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin-bottom: 100px;
    }
    &-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-price {
        font-weight: 700;
    }
}
.card {
     transition: all 1s ease;
    &__image{
        position: relative;
        img{
            width: 310px;
            height: 360px; 
            object-fit: cover;
        }
        &:hover .btn-category {
            display: block;
        }
    }
}
.filters{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.filter {
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s linear;
    width: 75%;
    margin-bottom: 15px;
    &-btn{
        margin-bottom: 5px;
        background: transparent;
        &::after {
            content: '⏷';
            color: $main;
            margin-left: 5px;
        }
    }
}
.sortby{
    display: flex;
    justify-content: space-between;
}
.no-products{
    width: 100%;
    
}
.dropdown-answers{
    display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 150px;
  border-radius: 10px;
  z-index: 1;
  a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $main;
    &:hover {
        background-color: #f1f1f1;
    }
  }
}
.filter-size, .filter-color{
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $main;
    border-radius: 5px;
    background: transparent;
    text-transform: capitalize;
    
    &:hover {
        background-color: #f1f1f1;
    }
    &__val{
        background: #f1f1f1;
        &:hover {
            box-shadow: 0 0 10px 100px $main inset;
        }
    }
}
select option:hover {
    background: $main;
}
.show {display:block;}
.btn-category {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    display: none;
    transition: all 1s ease;
}