@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
     font-weight: 300;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.ttf');
  font-weight: 700;
}