@keyframes blur {
  0% {
    
    filter: blur(0px);
  }

  5% {
    
    filter: blur(10px);
  }
  10% {
    
    filter: blur(20px);
  }
  15% {
   
    filter: blur(30px);
  }
  20% {
   
    filter: blur(40px);
  }
  25% {
    
    filter: blur(50px);
  }
  30% {
    
    filter: blur(60px);
  }
  35% {
    
    filter: blur(70px);
  }
  40% {
    
    filter: blur(80px);
  }
  45% {
    
    filter: blur(90px);
  }

  50% {
    
    filter: blur(100px);
  }
  55% {
    
    filter: blur(90px);
  }
  60% {
    
    filter: blur(70px);
  }
  65% {
   
    filter: blur(60px);
  }
  70% {
   
    filter: blur(50px);
  }
  75% {
    
    filter: blur(40px);
  }
  80% {
    
    filter: blur(30px);
  }
  85% {
    
    filter: blur(20px);
  }
  90% {
    
    filter: blur(10px);
  }
  95% {
    
    filter: blur(5px);
  }

  100% {
    
    filter: blur(0);
  }
}

@keyframes fade {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  100% {
    background-color: rgba(0, 0, 0, .8);
  }
}

@keyframes selectedColor {
  0% {
    outline: solid 1.5px #ff660000;
  }
  100% {
    outline: solid 1.5px #f47536;
  }
}

@keyframes div-act {
  0% {
    
    background-image: linear-gradient(0deg, #c59100 0%, #f4753600 50%, #f4753600 100%);
    
    opacity: 0.0;
  }
  100% {
    
    background-image: linear-gradient(0deg, #9e02e6 0%, #f4753600 50%, #f4753600 100%);

    opacity: 0.7;
  }
}

.product-road {
  user-select: none;
  font-size: 17px;
  font-weight: 400;
  padding-top: 15px;
  display: flex;
  gap: 20px;
  a {
    cursor: pointer;
  }
}

.product {
  transform: all .6s;
  position: relative;
  display: flex;
  gap: 10%;
  width: 100%;
  padding-top: 25px;
  
  &__slider {
    position: relative;
    display: flex;
    height: 590px;
    width: 502px;
    min-width: 40%;
    overflow: hidden;
    background-color: $background;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 0.1%;
    transition: all .6s;
    &.active {
        position: absolute;
        z-index: 50;
    }
    button {
      span {
        cursor: pointer;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+DQogICAgICA8cGF0aCBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNOCA2bDQgNC00IDQiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4NCiAgICA8L3N2Zz4=);
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
    .slider-left, .slider-right {
      z-index: 10;
      position: absolute;
      top: calc(50% - 41px + 6px);
      border-radius: 100%;
      background: var(--white-color);
      border: 0;
      outline: 0;
      height: 41px;
      width: 41px;
      box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
      cursor: pointer;
    }
    .slider-left {
      left: 10px;
      span {
        transform: rotate(180deg);
      }
    }
    .slider-right { 
      right: 10px;
    }
    #slides-container {
      display: flex;
      /* add to fix webkit bug jitter */
    }
    .slider-image {
      width: 101%;
      min-height: 101%;
      object-fit: cover;
      will-change: transform;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .product-name {
      margin: 0;
      padding-top: 10px;
    }
    .product-brand {
      font-weight: 200;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .product-color {
      margin: 0;
      display: flex;
      font-weight: 400;
      font-size: 17px;
      flex-direction: column;
      p {
        font-weight: 300;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5px;
      }
    }
    .product-available-colors {
      display: flex;
      gap: 10px;
    }

    .product-rating-container {
      position: relative;
      height: 18px;
      width: 75px;
      background-color: #000000;
      .product-rating-line {
        background-color: orange;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: fill;
      }
      img {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        padding-bottom: 5px;
      }
    }
    .product-color-btn {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      object-fit: cover;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px, rgba(17, 17, 26, 0.1) 0px 0px 10px, rgba(17, 17, 26, 0.1) 0px 4px 10px;
      &.activated {
        animation: selectedColor .6s linear;
        animation-fill-mode: forwards;
        
      }
    }

    .buy-buttons-container {
      display: flex;
      width: 100%;
      gap: 2%;
      .product-add-btn {
        width: 70%;
        position: fixed;
        bottom: 0;
        font-size: 16px;
        transition: all .3s ease-in;
        text-decoration: none;  
        background-image: linear-gradient(to right, #000000 0%, #212830  51%, #000000  100%);    
        background-size: 200% auto;
        color: $white;
        outline: 0;
        margin-top: 10px;
        border: 0;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        svg {
          position: absolute;
          left: 5%;
          top: 30%;
        }
        &:hover {
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }

        &:focus {
          background-color: #08c28a;
          text-shadow: 0px 3px 3px rgba(255,255,255,0.5);

        }
      }
      .product-buy-now-btn {
        width: 28%;
        position: fixed;
        bottom: 0;
        font-size: 16px;
        transition: all .3s ease-in;
        text-decoration: none;
        background-image: linear-gradient(to right, #c07724 0%, #f06a35  51%, #c06a24  100%);
        background-size: 200% auto;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        color: $white;
        outline: 0;
        margin-top: 10px;
        border: 0;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        svg {
          position: absolute;
          left: 5%;
          top: 30%;
        }
        &:hover {
      
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }
        &:focus {
          background-color: #08c28a;
          text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        }
      }
    }
  }
}

.counter {
	display: flex;
	column-gap: 7px;
	align-items: center;
	user-select: none;
	// .counter__button
	&__button {
    display: flex;
		height: 30px;
    width: 30px;
		border: 1px solid #000;
		border-radius: 50%;
    text-align: center;
		justify-content: center;
		align-items: center;
		cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 20px;
    vertical-align: center;
		// .counter__button_minus
		&-minus {
      &:hover {
        background-color: #f47536;
        
				color: #ffffff;
      }
			&.disabled {
				border: 1px solid #c4c4c4;
				color: #c4c4c4;
				cursor: default;
        pointer-events: none;
        &:hover {
          background-color: transparent !important;
        }
			}
		}
		// .counter__button_plus
		&-plus {
      &:hover {
        background-color: #f47536;
        
				color: #ffffff;
      }
    }
	}

	// .counter__input
	&__input {
    display: flex;
    width: 30px;
		input {
			width: 100%;
			background-color: inherit;
			border: none;
			text-align: center;
		}
	}
}

.product-sizes {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 3px 0px 0px 7px;
  color: #fff;
  background-color: #252525;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
.product-sizes::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 109px;
  height: 30px;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, #c07724 0%, #f06a35  51%, #c06a24  100%);
  background-size: 200% auto;
  padding: 7px;
  transition: .25s all ease-in-out;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.blackout {
  position: fixed;
  z-index: 30;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  animation: fade 1s;
  animation-fill-mode: forwards;
}

.add-to-cart {
  position: absolute;
  left: 30%;
  font-size: 13px;
}

.cart-amount {
  min-width: 14px;
  min-height: 14px;
  background-color: #c06a24;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 19px;
  top: 10px;
  border-radius: 50%;
  border-width: 0;
  padding: 1.5px;
  font-size: 10px;
  font-weight: 700;
  color: $white;
  line-height: normal;
  box-sizing: content-box !important;
}

.already-in {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  color: #f0a235;
  position: absolute;
  font-size: 22px;
  bottom: -30px;

}